<!DOCTYPE html>
<html>
    <head>
        <title>Login Page</title>
        <link rel="stylesheet" href="login.component.css">
    </head>
    <body class="no-top-padding">
        <div id="loginWrapper">
            <div id="loginLeft">
                <img src="assets\images\loginImg.png" alt="Product Image">
                <h1>Fluent Flow</h1>
                <p>Track Your Students Progress by Recording Notes</p>
                
            </div>
            <div id="loginRight">
                <img src="assets\images\titleLogo.png" alt="Title Logo">
    
                <form [formGroup]="loginForm" method="post" (ngSubmit)="onSubmit()">
                    <label for="username">Username or email</label>
                    <input type="text" id="username" name="username" required formControlName="username"><br><br>
                    
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required formControlName="password">
                    <a routerLink="/reset-password" routerLinkActive="active" id="forgotPass">Forgot password?</a>
                    <p *ngIf="loginFailed" id="loginFailed">Incorrect username or password</p>
                    <button [disabled]="!loginForm.valid" type="submit" id="login-button">Sign in</button>
                </form>
                
                <div id="signup">
                    <p>Are you new?</p>
                    <a routerLink="/register" routerLinkActive="active">Create an Account</a>
                </div>
            </div>
        </div>
    </body>

</html>