
/* Style the login form */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::ng-deep * {
    margin: 0;
    padding: 0;
}

:root {
    margin: 0;
    padding: 0;
}
:host{
    margin: 0;
    padding: 0;
}

body {
    margin: 0 !important;
    padding: 0 !important;
}

html, body {
    width: 100vw;
    height: 100vh;
    margin: 0 !important;
    padding: 0 !important;
}
/* Style the form labels */
label {
    display: block;
    margin-bottom: 1rem;
}

/* Style the form inputs */
input[type="email"],
input[type="text"],
input[type="password"] {
    width: auto;
    width: 100%;
    padding: 1rem;
    font-size: 1em;
    font-weight: 525;
    letter-spacing: .1rem;
}

/* Style the submit button */
input[type="submit"] {
    padding: 2rem;
    background-color: #000000;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

#loginRight button{
    width: 55%;
    padding: 15px;
    background-color: #000000;
    color: #d4d4d4;
    font-weight: 600;
    border: none;
    cursor: pointer;
    margin-top: 5%;
    margin-left: 20%;
    border-radius: 8px;
}

/* Style the heading */
h1 {
    text-align: center;
}

#loginRight h1{
    margin-bottom: 5rem;
    position: center;
}

div {
    padding: 0;
    margin: 0;
}

#loginLeft img {
    max-width: 100%;
    height: 70%;
    width: auto;
    position: relative;
    bottom: 10%;
}

#loginWrapper {
    display: flex;  
    flex-direction:row;
    width: 100%;
    height: 100%;
}

#loginRight img{
    max-width: 100%;
    width: auto;
    position: relative;
    bottom: 15%;

}

#loginRight{
    flex: .45;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color: #fafffb;
}

#loginLeft{
    flex: .55;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e6feed;
}

#loginLeft h1{
    position: relative;
    bottom: 10%;
    font-weight: 525;
    font-style: bold;
    font-size: 2.25em;
}


#loginLeft p{
    position: relative;
    bottom: 10%;
    color:rgb(150, 145, 145);
    font-size: 1.25em;
    font-weight: 450;
}

#loginRight label{
    color: rgb(150, 145, 145);
    padding: 10px;
    margin-left: 18.5%;
}

form {
    position: relative;
    bottom: 8%;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#loginRight input{
    border: .5px solid rgb(228, 222, 222);
    box-shadow: 0 0 3px rgb(216, 213, 213);
    border-radius: 5px;
    padding: 10px;
    margin-left: 20%;
    width: 55%;
}
#registerFailed{
    color: rgb(246, 139, 139);
    font-weight: 500;
    font-size: 1em;
    bottom: 10%;
    margin-left: 20%;
    margin-top: 1rem;
}

#signup{
    display: flex;
    flex-direction: row;
    color: rgb(150, 145, 145);
}
#signup a{
    color: #95bba1;
    font-weight: 500;
    font-size: 1em;
    font-style: underline;
    margin-left: 5px;
}