<h1 mat-dialog-title>Create New Student</h1>
<div mat-dialog-content class="field-wrapper">
  <div class="mat-form">
    <label for="First Name">First Name</label>
    <input type="text" class="input" [(ngModel)]="fname" required>
  </div>
  <div class="mat-form">
    <label for="Last Name">Last Name</label>
    <input type="text" class="input" [(ngModel)]="lname" required>
  </div>
  <div class="mat-form">
    <label for="School">School</label>
    <input type="text" class="input" [(ngModel)]="school" required>
  </div>
  <div class="mat-form">
    <label for="Date">IEP Due Date</label>
    <input type="date" class="input" [(ngModel)]="dueDate" required>
  </div>
  <div class="mat-form">
    <label for="Birth Date">Birth Date</label>
    <input type="date" class="input" [(ngModel)]="birthDate" required>
  </div>
  <div class="mat-form">
    <label for="Eligibility Expiration">Eligibility Expiration</label>
    <input type="date" class="input" [(ngModel)]="eligDate" required>
  </div>

</div>
    <div mat-dialog-actions>
      <button mat-button (click)="onCancel()">Cancel</button>
      <button mat-button (click)="onCreate()">Create</button>
      <p *ngIf="createFailed">Failed to create student</p>
</div>