<ul>

    <table>
        <thead>
            <tr>
                <th class="name-col">Name</th>
                <th class="age-col">Age</th>
                <th class="school-col">School</th>
                <th class="due-date-col">Due Date</th>  
            </tr>
        </thead>
        <div *ngIf="loading"><p>Loading Students</p></div>

        <tbody *ngIf="!loading">
            <tr *ngFor="let student of students" (click) = "showStudent(student)">
                    <td class="name-col"><img src="" alt="">{{student.fname}} {{student.lName}}</td>
                    <td class="age-col">{{student.age}}</td>
                    <td class="school-col">{{student.school}}</td>
                    <td class="due-date-col">{{student.dueDate | date:'MM/dd'}}</td>
            </tr>
          </tbody>

    </table>
    <!-- <app-student-row *ngFor="let student of students;" [student] = "student">  </app-student-row> -->
    <!-- <li *ngFor="let student of students">
        {{student.name}} - {{student.age}} - {{student.id}}
    </li> -->
</ul>