<!DOCTYPE html>
<html>
    <head>
        <title>Reset Password</title>
    </head>
    <body class="no-top-padding">
        <div id="loginWrapper">
            <div id="loginLeft">
                <img src="assets\images\loginImg.png" alt="Product Image">
                <h1>Fluent Flow</h1>
                <p>Track Your Students Progress by Recording Notes</p>
            </div>
            <div id="loginRight">
                <h1>Reset Password</h1>
    
                <form [formGroup]="passwordForm" method="post" (ngSubmit)="onSubmit()">
                    <label for="password">New Password</label>
                    <input type="text" id="password" name="password" required formControlName="password"><br><br>
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="text" id="confirmPassword" name="password" required formControlName="confirmPassword"><br><br>
                    <button [disabled]="!passwordForm.valid" type="submit" id="login-button">Confirm new password</button>
                    <p *ngIf="passwordFailed" id="passwordFailed">{{errorMessage}}</p>
                </form>
            </div>
        </div>
    </body> 

</html>