<div id="wrapper">
    <div id="navbar">
        <app-navbar></app-navbar>
    </div>
    <div id="contentWrapper">
        <p>{{student.fname}} {{student.lName}} {{student.age}} {{student.school}} {{student.id}}</p>
        <button>Add New Student</button>
        <table>
            <thead>
                <tr>
                    <th class="name-col">Date</th>
                    <th class="age-col">Time</th>
                    <th class="school-col">Comment</th>
            </thead>
        </table>
    </div>
    <div id="right">

    </div>
</div>


