<div id="wrapper">
    <div id="navbar">
        <app-navbar></app-navbar>
    </div>
    <div id="contentWrapper">
        <p>{{student.fName}} {{student.lName}} {{student.age}} {{student.school}} {{student.id}}</p>
        <textarea id="noteInput" placeholder="Add a note" #noteContent></textarea>
        <button id="createButton" (click)="submitNote(noteContent)">Create Note</button>    

        <table>
            <thead>
                <tr>
                    <th class="name-col">Date</th>
                    <th class="school-col">Comment</th>
            </thead>
            <tbody> 
                <div *ngIf="loadingNotes; else notesList">
                    <div class="loading-indicator"></div>
                </div>
                <ng-template #notesList>
                    <tr *ngFor="let note of notes">
                        <td class="name-col">{{note.date | date:'MM/dd hh:mm'}}</td>
                        <td class="school-col">{{note.content}}</td>
                </ng-template>
            </tbody>
        </table>
        <table>
            <thead>
                <tr>
                    <th class="goal-col">Goal</th>
                    <th class="recent-col">Most Recent</th>
                </tr>
            </thead>
            <tbody>
                <div *ngIf="loadingGoals; else goalsList">
                    <div class="loading-indicator"></div>
                </div>
                <ng-template #goalsList>
                    <tr *ngFor="let goal of goals" (click)="openGoalView()">
                        <td class="goal-col">{{goal.category}}</td>
                        <td class="recent-col">{{goal.recentData}}</td>
                    </tr>
                </ng-template> 
            </tbody>

        </table>
        <button (click)="openDialog()">Create Goal</button>
    </div>
    <div id="right">

    </div>
</div>


