<!DOCTYPE html>
<html>
    <head>
        <title>Reset Password </title>
    </head>
    <body class="no-top-padding">
        <div id="loginWrapper">
            <div id="loginLeft">
                <img src="assets\images\loginImg.png" alt="Product Image">
                <h1>Fluent Flow</h1>
                <p>Track Your Students Progress by Recording Notes</p>
                
            </div>
            <div id="loginRight">
                <h1>Reset Password</h1>
    
                <form [formGroup]="resetForm" method="post" (ngSubmit)="onSubmit()">
                    <label for="email">Current email address</label>
                    <input type="text" id="email" name="email" required formControlName="email"><br><br>
                    <button [disabled]="!resetForm.valid" type="submit" id="login-button">Send Reset Link</button>
                    <p *ngIf="resetFailed" id="loginFailed">{{errorMessage}}</p>
                </form>
                
                <div id="signup">
                    <a routerLink="/login" routerLinkActive="active" id="forgotPass">Return to login</a>
                </div>

            </div>
        </div>
    </body> 

</html>