<div id="wrapper">
    <img src="assets/images/titleLogo2.png" alt="titleLogo">
    <div id="dashContainer">
        <div class="iconContainer" id="dashboard">
            <a routerLink="/home"><mat-icon>dashboard</mat-icon>Dashboard</a>  
        </div>
        <div class="iconContainer" id="calendar">
            <a routerLink="/login"><mat-icon>calendar_month</mat-icon>Calendar</a>
        </div>
        <div class="iconContainer" id="Notes">
            <p><mat-icon>description</mat-icon>Notes</p> 
        </div>
        <div class="iconContainer" id="settings">
            <p><mat-icon>settings</mat-icon>Settings</p>
        </div>
    </div>
</div>
