<h1 mat-dialog-title>Create New Data</h1>
<div mat-dialog-content class="field-wrapper">

  <div class="mat-form">
    <label for="Indepedent">Independent</label>
    <input type="number" class="input" [(ngModel)]="independent" required>
  </div>
  <div class="mat-form">
    <label for="Prompted">Prompted</label>
    <input type="number" class="input" [(ngModel)]="prompted" required>
  </div>
  <div class="mat-form">
    <label for="Self Corrected">Self Corrected</label>
    <input type="number" class="input" [(ngModel)]="selfCorrected" required>
  </div>
  <div class="mat-form">
    <label for="Teaching">Teaching</label>
    <input type="number" class="input" [(ngModel)]="teaching" required>
  </div>
  <div class="mat-form">
    <label >Additional Notes</label>
    <textarea class="input" [(ngModel)]="note" required></textarea>
  </div>
  <div class="mat-form">
    <label for="Date">Date</label>
    <input type="date" class="input" [(ngModel)]="date" required>
  </div>
<!--   
  <mat-form-field class="mat-form" >
    <mat-label class="label">Independent</mat-label>
    <input type="number" matInput class="input" [(ngModel)]="independent" required>
  </mat-form-field>
  <mat-form-field class="mat-form">
    <mat-label class="label">Prompted</mat-label>
    <input type="number" matInput class="input" [(ngModel)]="prompted" required>
  </mat-form-field>
  <mat-form-field class="mat-form">
    <mat-label class="label">Self Corrected</mat-label>
    <input type="number" matInput class="input" [(ngModel)]="selfCorrected" required>
  </mat-form-field>
  <mat-form-field class="mat-form">
    <mat-label class="label">Teaching</mat-label>
    <input type="number" matInput class="input" [(ngModel)]="teaching" required>
  </mat-form-field>
  <mat-form-field class="mat-form">
    <mat-label id="additionalNotes" >Additional Notes</mat-label>
    <textarea matInput class="input" [(ngModel)]="note" required></textarea>
  </mat-form-field>
  <mat-form-field class="mat-form">
    <mat-label class="label">Choose a date</mat-label>
    <input matInput  [matDatepicker]="picker" [(ngModel)]="date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field> -->
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button (click)="onCreate()">Create</button>
  <p *ngIf="createFailed">Failed to create data</p>
</div>